
@model IEnumerable<MoviesAndMagic.Areas.Admin.Models.Cinema>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Index for Cinemas</h2>
<ol class="breadcrumb">
    <li>@Html.ActionLink("Admin", "Index", "AdminDashboard")</li>
    <li class="active">Cinemas List</li>
</ol>
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
</p>
<table class="table table-bordered table-striped table-hover">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.Id)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.CinemaCity)
        </th>

        @*<th>
                @Html.DisplayNameFor(model => model.RoleId)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CinemaCity)
            </td>

            @*<td>
                    @Html.DisplayFor(modelItem => item.RoleId)
                </td>*@
            <td>
                @Html.ActionLink(" Edit", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-primary glyphicon glyphicon-pencil" })
                @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                @Html.ActionLink(" Delete ", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-danger glyphicon glyphicon-trash" })
            </td>
        </tr>
    }

</table>



