@model MoviesAndMagic.Areas.Admin.Models.Reservation

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "Reservation", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Reservation</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ShowId, "ShowId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(s => s.ShowId, (List<SelectListItem>)ViewBag.Shows, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ShowId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SeatId, "SeatId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(s => s.SeatId, (List<SelectListItem>)ViewBag.Seats, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SeatId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

    <div class ="panel-footer">
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
